@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,,500,600,700,800,900);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;600;700;800;900&display=swap");

/* sidebar main div */
.nav {
  height: calc(100% - 44px);
  width: 290px;
  display: flex;
  flex-direction: column;
  padding: 17px;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 25px;
  padding-bottom: 20px;
  transition: width 0.3s;
  position: fixed;
  top: 44px;
  bottom: 0px;
  z-index: 5;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* clickable buttons on sidebar */
.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: width 0.3s;
  overflow-y: scroll;
  font-family: "Noto Sans Arabic", sans-serif;
}

/* class that hides sidebar */
.hide {
  transition: width 0.3s;
  top: 34px;
  width: 0;
  min-height: 0;
  height: 0;
  min-width: none;
  overflow: hidden;
}

/* navbar scroll setup start */
.sidebar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  transition: all 0.3s;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: #929191;
}
/* navbar scroll setup end */

.sidebar .MuiList-root {
  display: flex;
  flex-direction: column;
}

/* sidebar items border */
.MuiMenuItem-root,
.MuiCollapse-root .MuiButtonBase-root {
  border-radius: 8px !important;
}

/* text of sidebar items */
.MuiMenuItem-root .MuiTypography-root,
.sub-menu .MuiTypography-root,
.MuiButtonBase-root .MuiTypography-root {
  color: #757575;
  font-family: "Noto Sans Arabic", sans-serif;
  font-size: 15px;
  transition: width 0.3s;
}

.MuiMenuItem-root .MuiSvgIcon-root {
  color: #757575;
}

/* sidebar items hover setup */
.MuiMenuItem-root:hover .MuiSvgIcon-root,
.MuiMenuItem-root:hover .MuiTypography-root,
.MuiCollapse-root:hover .MuiTypography-root {
  color: #000;
}

.MuiListItemIcon-root:last-of-type {
  min-width: 20px !important;
}
.MuiDivider-root {
  /* margin: 5px 0 !important; */
}

/* selected item setup */
.Mui-selected .MuiTypography-root,
.Mui-selected .MuiSvgIcon-root,
.Mui-selected .MuiSvgIcon-root {
  font-weight: 500;
  color: #0072e5 !important;
  font-family: "Noto Sans Arabic", sans-serif;
}

/* sidebar header setup */
.MuiListSubheader-root {
  color: #aaaaaa !important;
  font-family: "Noto Sans Arabic", sans-serif;
  font-size: 12px;
  margin-top: 10px;
}

/* exit button */
.exit {
  margin-bottom: 50px !important;
}
