/* header setup starts here */
.header {
  color: #757575;
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: white;
}

/* header left icons setup */
.header__left-side {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 9px;
}

/* header left side turn right icon */
.header__left-side--turn-right {
  margin-top: -5px;
}

/* header icons setup */
.icon {
  cursor: pointer;
}

/* timer in header */
.time {
  margin-top: -3px;
  width: 125px;
}

/* bell icon: notifications */
.bell {
  margin-top: -1px;
}

/* header right side setup */
.header__right-side {
  display: flex;
  align-items: center;

  margin-right: 10px;
}

/* username */
.header__right-side--user_name {
  margin-top: -1px;
  cursor: pointer;
}

/* menu icon setup */
.menu {
  cursor: pointer;
  margin: 0 10px;
}

/* media for small sizes */
@media (max-width: 480px) {
  .icon {
    display: none !important;
  }
}
