/* a container for every video */
.videos-container__video-container {
  max-height: 400px;
  width: 280px;
  flex-grow: 1;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  z-index: 1;
  max-width: 400px;
}

.videos-container__video-container:hover {
  border-radius: 0;
}

.videos-container__image-container {
  width: 100%;
  position: relative;
  /* max-width: 500px;
  min-width: 310px; */

  /* overflow: hidden; */
}
/* video iframe from youtube */
.videos-container__video-container--iframe {
  width: 100%;
  height: 100%;
  background-color: transparent;
  max-height: 280px;
  border-radius: 10px;
  object-fit: cover;
  min-width: 1px;
  min-height: 1px;
  z-index: 2;
  transition: all 350ms ease-out;
}

.videos-container__video-container:hover
  .videos-container__video-container--iframe {
  border-radius: 0px;
  transform: scale(1.016);
}

.videos-container__video-duraion {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 4px;
  vertical-align: middle;
  z-index: 9;

  display: inline-flex;
  flex-direction: row;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3px 4px;
  /* height: 12px; */
  border-radius: 4px;
  line-height: 12px;
  letter-spacing: 0.5px;
}

.videos-container__video-duraion span {
  max-height: 1.2rem;
  overflow: hidden;
  font-size: 11px;
  font-weight: 500;
  font-family: inherit;
}

/* a div for video name and chanell picture */
.videos-container__video-container--middle-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* video channel image */
.videos-container__video-container--middle-div img {
  border-radius: 50%;
  width: 37px;
  height: 37px;
  flex-shrink: 0;
}

/* video name */
.videos-container__video-container--middle-div p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  font-weight: 600;
}

/* a more options icon at right bottom of videos */
.videos-container__video-container--middle-div--icon {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* hidding the more options icon */
.videos-container__video-container--middle-div--icon svg {
  display: none;
}

/* show more opt icon when hovering video container */
.videos-container__video-container:hover svg {
  fill: #585858;
  display: block;
}

/* the bottom section of video container
  -channell name
  -views
  -upload time */
.videos-container__video-container--bottom-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  font-size: 13px;
  color: #4e4d4d;
}

/* channel name and views and upload time */
.videos-container__video-container--bottom-div p:first-of-type {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* chanells name and verified icon */
.videos-container__video-container--bottom-div--text-icon {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/* the little verified icon */
.videos-container__video-container--bottom-div svg {
  fill: #585858;
  max-width: 14px;
  max-height: 14px;
  margin-left: 5px;
}

/* views and upload time  */
.videos-container__video-container--bottom-div > p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
