.sidebar__search--account {
  margin-right: 10px;
  margin-left: -6px;
}

.change-icon-direction div {
  display: flex;
  flex-direction: row-reverse;
}

.nav-search {
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
