@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;600;700;800;900&display=swap");

/* search icon in search input */
.sidebar__search--account {
  margin-right: 10px;
  margin-left: -6px;
}

/* changing the icon and input direction */
.change-icon-direction div {
  display: flex;
  flex-direction: row-reverse;
}

/* search input  */
.nav-search {
  border: 2px solid white;
  border-radius: 28px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* input text and border setup */
.nav-search .MuiFormControl-root .MuiInputBase-root {
  width: 100%;
  font-family: "Noto Sans Arabic", sans-serif;
  border-radius: 28px;
}

/* getting the whool width */
.MuiFormControl-root {
  width: 100%;
}
